---
import { getCollection, type CollectionEntry } from "astro:content";

import { SITE, type CustomLink } from "@/siteConfig";

import BaseLayout from "@/layouts/BaseLayout.astro";
import EmbedLink from "@/components/EmbedLink.astro";
import Content from "@/components/Content.astro";
import Post from "@/components/Post.astro";
import SeoPage from "@/components/SeoPage.astro";

const demoLink: CustomLink = {
  id: "777",
  title: "idk",
  url: "#",
  isModel: {
    url: "https://x.com/officialurbanus/status/1955778842481528914",
    embed: "tweet",
  },
};
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <!-- Modal toggle -->

    <ul class="grid gap-y-6 pb-12 pt-4">
      <EmbedLink link={demoLink} />
    </ul>
  </main>
</BaseLayout>
