---
const {
  text,
  icon,
  style,
  url,
  className = [
    "bg-lightModeCustomLinkBackground border border-gray-100 text-lightModeCustomLinkText ring-2 ring-lightModeCustomLinkOutline transition-colors hover:bg-lightModeCustomLinkBackgroundHover hover:text-lightModeCustomLinkTextHover hover:ring-lightModeCustomLinkOutlineHover dark:bg-darkModeCustomLinkBackground dark:text-darkModeCustomLinkText dark:ring-darkModeCustomLinkOutline dark:hover:bg-darkModeCustomLinkBackgroundHover dark:hover:text-darkModeCustomLinkTextHover dark:hover:ring-darkModeCustomLinkOutlineHover",
  ],
} = Astro.props;

// "flex items-center justify-center gap-2 rounded-full bg-lightModeCustomLinkBackground px-6 py-3 text-lg text-lightModeCustomLinkText ring-2 ring-lightModeCustomLinkOutline transition-colors hover:bg-lightModeCustomLinkBackgroundHover hover:text-lightModeCustomLinkTextHover hover:ring-lightModeCustomLinkOutlineHover dark:bg-darkModeCustomLinkBackground dark:text-darkModeCustomLinkText dark:ring-darkModeCustomLinkOutline dark:hover:bg-darkModeCustomLinkBackgroundHover dark:hover:text-darkModeCustomLinkTextHover dark:hover:ring-darkModeCustomLinkOutlineHover",
---

<li>
  <a
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    {style}
    class:list={[
      ...className,
      "flex items-center justify-center gap-2 rounded-full px-6 py-3 text-lg",
    ]}
  >
    <slot />
  </a>
</li>
