---
import { Icon } from "astro-icon/components";

const { icon, url } = Astro.props;
---

<li>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href={url}
    aria-label={icon}
    class="group block rounded-full bg-lightModeIconLinkBackground p-3 ring-2 ring-lightModeIconLinkOutline transition-colors hover:bg-lightModeIconLinkBackgroundHover hover:ring-lightModeIconLinkOutlineHover dark:bg-darkModeIconLinkBackground dark:ring-darkModeIconLinkOutline dark:hover:bg-darkModeIconLinkBackgroundHover dark:hover:ring-darkModeIconLinkOutlineHover"
  >
    <Icon
      name={icon}
      class="size-6 text-lightModeIconLinkText transition-colors group-hover:text-lightModeIconLinkTextHover dark:text-darkModeIconLinkText group-hover:dark:text-darkModeIconLinkTextHover"
    />
  </a>
</li>
