---
import { Image } from "astro:assets";

import { SITE } from "@/siteConfig";
---

<div class="mt-8 py-4">
  <img
    src={"https://cdn.bio.link/uploads/profile_pictures/2025-07-04/SwfkVYmIZ1hVEcD7en5yz9e3HoWA5BUm.png"}
    alt={SITE.name}
    height={256}
    width={256}
    class="mx-auto size-32 rounded-full"
  />
  <h1 class="mt-4 text-center text-3xl font-extrabold">
    <span
      class="bg-gradient-to-r from-orange-500 to-red-600 bg-clip-text text-transparent"
      >{SITE.name}</span
    >
    <span>|</span>
    <span
      class="bg-gradient-to-r from-orange-500 to-red-600 bg-clip-text font-bold text-transparent"
      >{SITE.subName}</span
    >
  </h1>
  <p
    class="mt-1 text-balance text-center text-sm text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
  >
    {SITE.bio}
  </p>
</div>
